// /* =============================================================================
//    Layout Vars
//    ========================================================================== */

// $total-columns: 12;
// $max-width: 1064px;
// $total-padding: 20px;

// /* =============================================================================
//    Grid
//    ========================================================================== */

// .group {
// 	@include cf();
// 	margin:0 auto;
// 	max-width:$max-width;
// 	padding:0 $total-padding;
// }
// .col {
// 	float: left;
// 	margin-right: 3.8%;
// 	min-height:1px;
// }
// .last {
// 	margin-right: 0;
// }
// .span-1 { width: $span-1; }
// .span-2 { width: $span-2; }
// .span-3 { width: $span-3; }
// .span-4 { width: $span-4; }
// .span-5 { width: $span-5; }
// .span-6 { width: $span-6; }
// .span-7 { width: $span-7; }
// .span-8 { width: $span-8; }
// .span-9 { width: $span-9; }
// .span-10 { width:$span-10; }
// .span-11 { width:$span-11; }
// .span-12 { width:$span-12; }

// /* =============================================================================
// 	Display Table
// ============================================================================== */

// .table {
// 	display: table;
// }
// .tr {
// 	display:table-row;
// }
// .td {
// 	display:table-cell;
// }