/* =============================================================================
   Mixins
   ========================================================================== */

@mixin animation-name($name) {
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	-ms-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;
}

@mixin animation-duration($time) {
	-webkit-animation-duration: $time;
	-moz-animation-duration: $time;
	-ms-animation-duration: $time;
	-o-animation-duration: $time;
	animation-duration: $time;
}
@mixin animation-iteration-count($count) {
	-webkit-animation-iteration-count: $count;
	-moz-animation-iteration-count: $count;
	-ms-animation-iteration-count: $count;
	-o-animation-iteration-count: $count;
	animation-iteration-count: $count;
}
@mixin animation-timing-function($funk) {
	-webkit-animation-timing-function: $funk;
	-moz-animation-timing-function: $funk;
	-ms-animation-timing-function: $funk;
	-o-animation-timing-function: $funk;
	animation-timing-function: $funk;
}
@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-ms-animation-delay: $delay;
	-o-animation-delay:$delay;
	animation-delay:$delay;
}
@mixin animation($name, $time, $count, $easing, $delay, $fill_mode) {
	-webkit-animation: $name $time $easing $delay $count $fill_mode;
	-moz-animation: $name $time $easing $delay $count $fill_mode;
	-ms-animation: $name $time $easing $delay $count $fill_mode;
	-o-animation: $name $time $easing $delay $count $fill_mode;
	animation: $name $time $easing $delay $count $fill_mode;
}

@mixin cf() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

@mixin cubic-bezier($bezier, $time:500ms, $property: all) {
	-webkit-transition: $property $time cubic-bezier($bezier);
	   -moz-transition: $property $time cubic-bezier($bezier);
	    -ms-transition: $property $time cubic-bezier($bezier);
	     -o-transition: $property $time cubic-bezier($bezier);
	        transition: $property $time cubic-bezier($bezier);
}

@mixin display-inline-block() {
	display:inline-block;
	*display:inline;
	*zoom:1;
}

@mixin font-size($value, $base: 14) {
	$rem: $value/$base;
	font-size:$value + px;
	font-size:$rem + rem;
}

@mixin font-smoothing($value) {
	font-smoothing:$value;
	-webkit-font-smoothing:$value;
}

@mixin hide-text() {
	overflow: hidden;
	text-indent:100%;
	white-space:nowrap;
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
	  	@content;
	}
	@-moz-keyframes #{$name} {
	  	@content;
	}
	@-ms-keyframes #{$name} {
	  	@content;
	}
	@keyframes #{$name} {
	  	@content;
	}
}

@mixin mask-image($path) {
	-webkit-mask-image:url($path);
	-moz-mask-image:url($path);
	-ms-mask-image:url($path);
	-o-mask-image:url($path);
	mask-image:url($path);
}
@mixin trans($transition: all 0.2s ease) {
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-o-transition:$transition;
	-ms-transition:$transition;
	transition:$transition;
}