/* ==|== Type =================
   Selection
   ====================================== */

// ::-moz-selection {
//     background: ;
// 	color: ;
//     text-shadow: none;
// }

// ::selection {
//     background: ;
// 	color: ;
//     text-shadow: none;
// }

/* ==|== Type =================
   Links
   ====================================== */

a {
	color:$color-link-primary;
	@include trans();
	&:hover {
		color:$color-link-primary-hover;
	}
	&:active,
	&:focus {
		color:$color-link-primary-active;
		outline:none;
	}
}
a.secondary {
	color:$color-link-secondary;
	&:hover {
		color:$color-link-secondary-hover;
	}
	&:active,
	&:focus {
		color:$color-link-secondary-active;
	}
}


/* ==|== Type =================
   Lists
   ====================================== */

ul,
ol {
	list-style: circle outside none;
	margin:1em 0;
	padding:0 0 0 1.5em;
	> li > ul {
		list-style:disc outside none;
		margin:0;
	}
	> li > ol {
		list-style: lower-greek outside none;
		margin:0;
	}
}
ol {
	list-style: lower-roman outside none;
}

/* ==|== Type =================
   Tables
   ====================================== */

table {
	width:100%;
}
th {
	padding:.5em 0;
	text-align: left;
	vertical-align: middle;
}
td {
	padding:.5em 0;
	vertical-align: middle;
}


/* ==|== Type =================
   Headings
   ====================================== */

// This sets styles for h1 - h6. Great for if you're finding yourself repeating rules.
//
// You can also do
// #{headings(h1, h3)} {
//
// }
// Which would only set styles for h1, h2 and h3.

#{headings()} {
	color:$color-heading;
	font-family:$stack-heading;
	line-height:1;
}

#{headings(h1, h3)} {
	color:$color-heading;
	font-weight: bold;
}
#{headings(h4, h6)} {
	color:$color-subheading;
	font-weight: normal;
}

h1, .h1 {
	@include font-size(48);
}
h2, .h2 {
	@include font-size(36);
}
h3, .h3  {
	@include font-size(24);
}
h4, .h4 {
	@include font-size(18);
}
h5, .h5 {
	@include font-size(16);
}
h6, .h6 {
	@include font-size(14);
}