/* =============================================================================
   Colours
   ========================================================================== */

/* ==|== Colours =================
   Global
   ====================================== */

$color-primary: #fff;
$color-secondary: #fff;
$color-tertiary: #fff;


/* ==|== Colours =================
   Text
   ====================================== */

$color-text: #333;
$color-subtext: #333;
$color-heading: #333;
$color-subheading: #333;

/* ==|== Colours =================
   Links
   ====================================== */

$color-link-primary: #F10;
$color-link-primary-hover: #F10;
$color-link-primary-active: #F10;
$color-link-secondary: #F10;
$color-link-secondary-hover: #F10;
$color-link-secondary-active: #F10;

/* ==|== Colours =================
   Buttons
   ====================================== */

$color-button-primary: #eee;
$color-button-primary-hover: #eee;
$color-button-primary-active: #eee;

$color-button-secondary: #eee;
$color-button-secondary-hover: #eee;
$color-button-secondary-active: #eee;

/* =============================================================================
   Fonts
   ========================================================================== */

$stack-reg: Helvetica;
$stack-heading: Helvetica;

/* =============================================================================
   Column Widths
   ========================================================================== */

// $margin: ;
// $span-1: ;
// $span-2: ;
// $span-3: ;
// $span-4: ;
// $span-5: ;
// $span-6: ;
// $span-7: ;
// $span-8: ;
// $span-9: ;
// $span-10: ;
// $span-11: ;
// $span-12: ;

/* =============================================================================
   Bezier Curves
   ========================================================================== */

// Use these for more exciting animations/transitions.
//
// Usage:
//
// @include cubic-bezier(#{$bezier-bounce}, 500ms, all);

$bezier-bounce: 0.750, -0.170, 0.230, 1.190;
$bezier-ease: 0.880, 0.090, 0.180, 0.900;




